<!DOCTYPE html>
<html lang="en">
    
<body>
    <h1>Agregar productos</h1>
    <form action="/productos" method="POST" onsubmit="return enviarProducto()">
        <input type="text" name="title" id="title">
        <input type="text" name="thumbnail" id="thumbnail">
        <input type="number" name="price" id="price">
        <input type="submit" value="Cargar producto">
    </form>

<h1>Productos agregados</h1>
<div id="productsContainer">
{{#if productos}}
<table>
    <thead>
        <th>Title</th>
        <th>Price</th>
        <th>Thumbnail</th>
    </thead>
    <tbody>
        {{#each productos}}
        <tr>
            <td>{{this.title}}</td>
            <td>$ {{this.price}}</td>
            <td><img style="width: 50px; height:50px" src={{this.thumbnail}} alt=""></td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<h2>No hay productos</h2>
{{/if}}
</div>


<div id="messages">
</div>
<form onsubmit="return enviarMensaje()">
    <input type="text" id="autor">
    <input type="text" id="text">
    <input type="submit" value="Enviar mensaje">
</form>

</body>

</html>